@font-face {
    font-family: 'OpenSans-Bold';
    src: url('../Fonts/OpenSans-Bold.woff2') format('woff2'), url('../Fonts/OpenSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@keyframes navbar-line {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

header {
    box-shadow: 0px 0px 30px 0px #909090;
    .navbar-item {
        font-family: OpenSans-Bold;
        font-size: 15px;
        list-style-type: none;
        padding: 15px 20px;
        position: relative;
    }
    a {
        position: relative;
    }
    a::after {
        content: " ";
        background: #9376df;
        position: absolute;
        bottom: -15px;
        left: 50%;
        transform: translateX(-50%);
        width: 44px;
        height: 2px;
        opacity: 0;
    }
    .navbar-selected {
        color: #9376df!important;
        position: relative;
    }
    .navbar-selected::after {
        content: " ";
        background: #9376df;
        position: absolute;
        bottom: -15px;
        left: 50%;
        transform: translateX(-50%);
        width: 44px;
        height: 2px;
        opacity: 1;
    }
    .navbar-item:hover {
        a::after {
            animation: navbar-line 200ms forwards;
        }
    }
}